<!DOCTYPE html>
<html>

	<head>
		<script>
			function login() {
				var u = document.getElementById("Username").value;
				var p = document.getElementById("Password").value;
				
				var req = new XMLHttpRequest();
				req.onload = function(){
					document.getElementById("response").innerHTML = req.responseText;
					window.name = req.responseText;
				}
				
				req.open("GET", "/userDB/login/?u=" + u + "&p=" + p, true);
				req.send();
			}
		</script>
	</head>

	<body>
		
		<a href="/test/print.html" onclick="location.replace('localhost:5000/test/print'), '_top'">Print user DB</a><br>
		<a href="/test/reg.html">Want to Register?</a><br>
		<a href="/test/dereg.html">Deregister</a><br>
		<a href="/test/logout.html">logout</a><br>
		
		<img src="/logo.JPG" alt="logo">
		
		<p>Please enter your login credentials:</p>
		
		<form action="javascript:login()">
			Username: <input type="text" name="u" id=Username>
			<br>
			Password: <input type="text" name="p" id=Password>
			<br><br>
			<input name="submit" type="submit" value="Submit" />
		</form>
		
		<p id=response> </p>
	
	</body>

</html>
