head, body
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #333;
}

#main-background
{
	height: 94.1vh;
	min-height: 300px;
	background-color: #263238;
	background-size: cover;
	background-position: center center;
	background-image: url('../Images/stockmarket.png');
	color: white;
	text-shadow: 0 0 30px #000000;
}

#main-background > div
{
	padding: 30px;
}

#main
{
	height: 88.1vh;
	min-height: 300px;
	background-color: #263238;
	background-size: cover;
	background-position: center center;
	background-image: url('../Images/stockmarket.png');
	color: white;
	text-shadow: 0 0 30px #000000;
}

#title
{
	font-size: 5em;
	font-weight: 300;
	text-align: center;
}

.content-space
{
	padding: 20px 0;
	text-align: center;
	border: 5px solid gray;
}

.diagram-space
{
	padding: 20px 0;
	text-align: center;
}

.h1
{
	font-weight: 300;
	font-size: 3em;
	text-align: center;
}

.center-vertical
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

.left-text
{
	word-wrap: normal;
	padding: 20px 0;
	text-align: middle;
	display: inline-block;
	vertical-align: middle;
	margin: 0 30px;
}

.centered-text
{
	text-align: center;
}

#colorschemes
{
	max-width: 700px;
	width: 100%;
	margin-top: 30px;
}

.fixed
{
	position: fixed;
}
