body {
  font-family: Open Sans;
}

h1 {
  text-align: center;
}

#title {
  text-decoration: underline;
}

#quiz {
  text-indent: 10px;
  display: none;
}

.button {
  border: 4px solid;
  border-radius: 5px;
  width: auto;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  float: right;
  background-color: #DCDCDC;
  color: black;
  margin: 0 2px 0 2px;
}

.button.active {
  width: auto;
  background-color: #F8F8FF;
  color: #525252;
}

button {
  width: auto;
  position: relative;
  float: right;
  text-align: center;
}

.button a {
  width: auto;
  text-decoration: none;
  color: black;
  text-align: center;
}

#container {
  width: 75%;
  margin: auto;
  padding: 0 25px 40px 10px;
  background-color: #1E90FF;
  border: 4px solid #B0E0E6;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: 5px 5px 5px #888;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#prev {
  display: none;
}

#start {
  display: none;
  width: auto;
  text-align: center;
}

#menu {
  display: none;
  width: auto;
  text-align: center;
}
