<!DOCTYPE html>
<html>

	<head>
		<script src="/userDB/helpers.js"> </script>
		<script>
			function webDereg() {
				var u = document.getElementById("Username").value;
				var p = document.getElementById("Password").value;
				document.getElementById("response").innerHTML = dereg(u, p);
			}
		</script>
	</head>

	<body>
		
		<a href="/userDB/print.html">Print user DB</a><br>
		<a href="/userDB/reg.html">Want to Register?</a><br>
		<a href="/userDB/index.html">login</a><br>
		<a href="/userDB/logout.html">logout</a><br>
		
		<img src="/userDB/logo.JPG" alt="logo">
		
		<p>Please enter your login credentials:</p>
		
		<form action="javascript:webDereg()">
			Username: <input type="text" name="u" id=Username>
			<br>
			Password: <input type="text" name="p" id=Password>
			<br><br>
			<input name="submit" type="submit" value="Submit" />
		</form>
		
		<p id=response> </p>
	
	</body>

</html>
