<!DOCTYPE html>
<html>

	<head>
		<script>
			function login() {
				var u = document.getElementById("Username").value;
				var p = document.getElementById("Password").value;
				
				var req = new XMLHttpRequest();
				req.onload = function(){
					document.getElementById("response").innerHTML = req.responseText;
					window.name = req.responseText;
				}
				
				req.open("GET", "/userDB/login/?u=" + u + "&p=" + p, true);
				req.send();
			}
			
			function price() {
				var s = document.getElementById("Stock").value;
				
				var req = new XMLHttpRequest();
				req.onload = function(){
					document.getElementById("price").innerHTML = req.responseText;
				}
				
				req.open("GET", "/ticker/?s=" + s, true);
				req.send();
			}
			
			function news() {
				var s = document.getElementById("News").value;
				
				var req = new XMLHttpRequest();
				req.onload = function(){
					document.getElementById("news").innerHTML = req.responseText;
				}
				
				req.open("GET", "/news/?s=" + s, true);
				req.send();
			}
		</script>
	</head>

	<body>
		
		<a href="/test/print.html" onclick="location.replace('localhost:5000/test/print'), '_top'">Print user DB</a><br>
		<a href="/test/reg.html">Want to Register?</a><br>
		<a href="/test/dereg.html">Deregister</a><br>
		<a href="/test/logout.html">logout</a><br>
		
		<img src="/logo.JPG" alt="logo">
		
		<p>Please enter your login credentials:</p>
		
		<form action="javascript:login()">
			Username: <input type="text" name="u" id=Username>
			<br>
			Password: <input type="text" name="p" id=Password>
			<br><br>
			<input name="submit" type="submit" value="Submit" />
		</form>
		
		<br><br><br>
		<p id=response> </p>
		<br><br><br>
		
		<form action="javascript:price()">
			Stock: <input type="text" name="s" id=Stock>
			<br>
			<input name="submit2" type="submit" value="Get Price Info" />
		</form>
		
		<p id=price> </p>
		<br><br><br>
		
		<form action="javascript:news()">
			News: <input type="text" name="s2" id=News>
			<br>
			<input name="submit3" type="submit" value="Get News" />
		</form>
		
		<p id=news> </p>
		<br><br><br>
	
	</body>

</html>
