<!DOCTYPE html>
<html>

	<head>
		<script src="../helpers.js"> </script>
		<script>
			function webLogout() {
				document.getElementById("response").innerHTML = logout();
			}
		</script>
	</head>

	<body>
		
		<a href="print.html">Print user DB</a><br>
		<a href="reg.html">Want to Register?</a><br>
		<a href="dereg.html">Deregister</a><br>
		<a href="index.html">login</a><br>
		
		<img src="/logo.JPG" alt="logo">
		
		<p>Press button to logout:</p>
		
		<form action="javascript:webLogout()">
			<input name="submit" type="submit" value="log out" />
		</form>
		
		<p id=response> </p>
	
	</body>

</html>
