<!DOCTYPE html>
<html>

	<head>
		<script>
			function webPrint() {
				var p = document.getElementById("Password").value;
				document.getElementById("response").innerHTML = print(p);
			}
		</script>
	</head>

	<body>
		
		<a href="/">login</a><br>
		<a href="/test/reg.html">Want to Register?</a><br>
		<a href="/test/dereg.html">Deregister</a><br>
		<a href="/test/logout.html">logout</a><br>
		
		<img src="/logo.JPG" alt="logo">
		<p>Please enter the admin password:</p>
		
		<form action="javascript:webPrint()">
			Password: <input type="text" name="p" id=Password>
			<br><br>
			<input name="submit" type="submit" value="Submit" />
		</form>
		
		<p id=response> </p>
	
	</body>

</html>
